<%= form_with(model: birthplace) do |form| %>
  <% if birthplace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(birthplace.errors.count, "error") %> prohibited this birthplace from being saved:</h2>

      <ul>
        <% birthplace.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prefecture_id %>
    <%= form.text_field :prefecture_id %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
