<%= form_with(model: form, url: url) do |form| %>
  <%# if @form.errors.any? %>
    <%# <div id="error_explanation"> %>
      <%# <h2>= pluralize(form.errors.count, "error") prohibited this user from being saved:</h2> %>

      <%# <ul> %>
        <%# <% form.errors.each do |error| %>
          <%# <li>= error.full_message</li> %>
        <%# end %>
      <%# </ul> %>
    <%# </div> %>
  <%# <% end %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :born_on %>
    <%= form.date_select :born_on, { start_year: (Time.now.year), end_year: (Time.now.year - 70), prompt: "--", use_month_numbers: true } %>
  </div>

  <div class="field">
    <%= form.label :prefecture_id %>
    <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: '選択してください' %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
