<p id="notice"><%= notice %></p>

<h1>Users</h1>
<h2><%= @users.size %>/<%= User.all.size %></h2>


<%= form_with(model: @form , url: users_path ,method: :get) do |form| %>
  <%= form.label :last_name %>
  <%= form.search_field :last_name %>
  <%= form.label :first_name %>
  <%= form.search_field :first_name %>
  <%= form.label :born_on_year %>
  <%= form.select :born_on_year, 1960..2000, include_blank: '年' %>
  <%= form.label :born_on_month %>
  <%= form.select :born_on_month, 1..12, include_blank: '月' %>
  <%= form.label :prefecture_id %>
  <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '出身地' %>
  <%= form.submit '検索' %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Born on</th>
      <th>Birthplace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.born_on %></td>
        <td><%= user.birthplace&.prefecture&.name %></td>
        <td><%= user.birthplace&.detail %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
