<p id="notice"><%= notice %></p>

<h1>Prefectures Index</h1>
<h2><%= @prefectures.size %> Prefectures</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prefectures.each do |prefecture| %>
      <tr>
        <td><%= prefecture.name %></td>
        <td><%= prefecture.users.size %></td>
        <td><%= link_to 'Show', prefecture %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
